@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Indie Flower");
@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Righteous");

body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    text-align: center;
}

.heading {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.navigation {
    text-align: center;
    overflow: hidden;
    background-color: rgb(208, 197, 219);
    padding : 22px 22px;
}

.navigation a {
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color:brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation a:hover {
    background-color: white;
}

.info1 {
    font-size: 30px;
    font-family:"Sofia";
}

.mypic img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.info2 {
    font-family: "Sacramento";
    font-size: 40px;
}

.subinfo {
    font-size: 30px;
}

.word1 {
    font-family:"Indie Flower";
    animation-name: color_rep1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

.word2 {
    font-family: "Courgette";
    animation-name: color_rep2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

.word3 {
    font-family: "Orbitron";
    animation-name: color_rep3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

@keyframes color_rep1 {
    0%   {background-color: rgb(255, 72, 0); color:white}
    100%  {background-color: rgb(180, 119, 39); color:white}
}

@keyframes color_rep2 {
    0%  {background-color: rgb(180, 119, 39); color:white}
    100%  {background-color: rgb(42, 42, 207); color:white}
}

@keyframes color_rep3 {
    0%  {background-color: rgb(42, 42, 207); color:white}
    100% {background-color: rgb(29, 197, 29); color:white}
}

footer {
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:"Righteous";
    font-size: 27px;
}

.icons a {
    text-decoration: none;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

.copyright {
    font-size: 20px;
}